<h4>Register</h4>
<div class="divider"></div>
<section class="row section">
    <div class="col s12 m8 l4">
        <div class="input-field">            
            <input type="email" id="emailRegister" ng-model="vm.email"/>
            <label for="emailRegister">Email</label>
        </div>
        <div class="input-field">
            <input type="password" id="passwordRegister" ng-model="vm.password" />
            <label for="passwordRegister">Password</label>
        </div>
        <div class="input-field">
            <input type="password" id="passwordConfirmRegister" ng-model="vm.passwordConfirm" />
            <label for="passwordConfirmRegister">Confirm password</label>
        </div>
        <button class="btn amber accent-4 waves-effect waves-light" type="submit" ng-click="vm.register()">Submit</button>
        <div class="red-text section">
            <span ng-repeat="e in vm.errors">{{e}}<br/></span>
        </div>
    </div>
</section>    