@{
    ViewBag.Title = "LinkKeeper | Login";
}
<h4>Login</h4>
<div class="divider"></div>
<section class="row section">
    <div class="col s12 m8 l4">
        <div class="input-field">
            <input type="email" id="emailLogin" />
            <label for="emailLogin">Email</label>
        </div>
        <div class="input-field">
            <input type="password" id="passwordLogin" />
            <label for="passwordLogin">Password</label>
        </div>
        <button class="btn amber accent-4 waves-effect waves-light" type="submit" id="submitLogin">Submit</button>
        <div class="red-text section" id="errorTextLogin"></div>
    </div>
</section>    