@{
    ViewBag.Title = "LinkKeeper | Register";
}
<h4>Register</h4>
<div class="divider"></div>
<section class="row section">
    <div class="col s12 m8 l4">
        <div class="input-field">
            <input type="email" id="emailRegister" />
            <label for="emailRegister">Email</label>
        </div>
        <div class="input-field">
            <input type="password" id="passwordRegister" />
            <label for="passwordRegister">Password</label>
        </div>
        <div class="input-field">
            <input type="password" id="passwordConfirmRegister" />
            <label for="passwordConfirmRegister">Confirm password</label>
        </div>
        <button class="btn amber accent-4 waves-effect waves-light" type="submit" id="submitRegister">Submit</button>
        <div class="red-text section" id="errorTextRegister"></div>
    </div>
</section>    